footer {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    height: 50px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer h3 {
    padding: 15px 0 0 0;
}